.login{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft,
.loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: #55bfe2;
    margin-bottom: 10px;
}

.logoDesc{
    font-size: 24px;
}

.loginBox{
    height: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 50px;border-radius: 10px;
    bottom: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #55bfe2;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginButton:disabled{
    cursor: not-allowed;
}

.loginForgot{
    text-align: center;
    color: #55bfe2;
}

.loginRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: limegreen;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

