.navbarContainer{
    height: 50px;
    width: 100%;
    background-color: #55bfe2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
}

.navbarLeft{
    flex: 3;
}
.navbarCenter{
    flex: 5;
}

.searchBar{
    width: 100%;
    height: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 70%;
}

.searchInput:focus{
    outline: none;
}
.navbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
}

.navbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.navbarIcons{
    display: flex;
}

.navbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.navbarIconBadge{
    width: 13px;
    height: 13px;
    background-color: red;
    border-radius: 50%;
    color: aliceblue;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12;
}

.navbarImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}