.shareContainer{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.78);
}

.shareWrapper{
    padding: 8px;
}

.shareTop{
    display: flex;
    align-items: center;
}

.shareProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput{
    border: none;
    width: 80%;
}

.shareInput:focus{
    outline: none;
}

.shareHR{
    margin: 20px;
}

.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.shareOptions{
    display: flex;
    margin-left: 20px;
}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareIcon{
    font-size: 18px;
    margin-right: 3px;
}

.shareOptionText{
    font-size: 14px;
    font-weight: 500;
}

.shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(72, 182, 145);
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: aliceblue;
}

.shareImgContainer{
    padding: 0px 20px 10px 20px;
    position: relative;
}

.shareImg{
    width: 100%;
    object-fit: cover;
}

.shareCancelImg{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    cursor: pointer;
    opacity: 0.7;
}